<!-- This is our landing page -->

<!-- wp:template-part {"slug":"header","tagName":"header","theme":"pixel-pro-web"} /-->

<!-- wp:cover {"overlayColor":"primary","isUserOverlayColor":true,"isDark":false,"metadata":{"name":"Hero"},"layout":{"type":"constrained"}} -->
<div class="wp-block-cover is-light"><span aria-hidden="true"
        class="wp-block-cover__background has-primary-background-color has-background-dim-100 has-background-dim"></span>
    <div class="wp-block-cover__inner-container"><!-- wp:heading -->
        <h2 class="wp-block-heading">Welcome to Cornerstone2k25...</h2>
        <!-- /wp:heading -->
    </div>
</div>
<!-- /wp:cover -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","theme":"pixel-pro-web"} /-->